*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  width: 720px;
  display: flex;
  flex-direction:row;
  box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 5px 9px -3px rgba(0,0,0,0.75);
justify-content: space-between;
}

.card_Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card_Left span {
  font-weight: 400;
}

.card_Left a {
  margin-top: 15px;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.card_Left p {
  color: gray
}

.card_Right {
  margin-top: 4px;
}