
header { 
  font-family: 'Bebas Neue', cursive;
  color: #e50914;
  font-size: 1.8em;
  margin-right: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

body {
  background-color: #141414;
 }